.slider {
    position: relative;
    margin-top: 81px;
    margin-bottom: 64px;
}

.slider__item {
    position: relative;
}

.slider__item img {
    display: block;
    margin: 0 auto;
    max-height: 645px;
    width: 100%; 
    border-radius: 16px;
    object-fit: cover; 
    object-position: 0px -610.667px; 
}
.slider__wrapper{
    position: relative;
}

.slider-text{
    font-family: 'Cormorant', serif;
    z-index: 10;
    position: absolute;
    top: 450px;
    left: 30px;
    color: #FFF;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
}

.slider-text-small{
    font-family: 'Cormorant', serif;
    z-index: 10;

    position: absolute;
    top: 550px;
    left: 30px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.swiper-pagination-bullet-active {
    background: #ffff;
}
  