.cart {
    margin-top: 95px;
    padding-bottom: 200px;
}

.cart__title {
    color:  #000;
    font-size: 33px;
    font-weight: 500;
    line-height: 43px; 
    text-align: center;
}

.cart__wrapper {
    margin-top: 65px;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    column-gap: 145px;
}

.cart__item {
    display: flex;
    width: 580px;
    justify-content: space-between;
    column-gap: auto;
}

.cart__item-info {
    max-width: 180px;
}

.cart__item-wrapper {
    display: flex;
    column-gap: 40px;
}

.cart__item-img {
    object-fit: cover;
    width: 136px;
    height: 136px;
    border-radius: 4px;
}

.cart__item-title {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px; 
}

.cart__item-material {
    margin-top: 14px;
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px; 
}

.cart__item-price {
    color: #A18A68;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px; 
}

.close-button {
    font-size: 29px;
    line-height: 16px;
    color: black;
}

.close-button:hover {
    color: #707070; 
}

.cart__item-counter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 102px;
    height: 53px;
    border-radius: 4px;
    background: #EFEFEF;
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px; 
}

.cart__line {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 1px;
    background: #D8D8D8;
}

.cart__info-main-title {
    margin-top: 40px;
    margin-bottom: 45px;
    color: #000;
    font-size: 26px;
    font-weight: 400;
    line-height: 25px;
}

.cart__info-wrapper {
    margin-top: 23px;
    display: flex;
    column-gap: 130px;
}

.cart__info-title {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px; 
}

.cart__info-descr {
    color:  #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    width: 250px;
}

.cart__total-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.cart__total {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}
.empty__cart {
    text-align: center;
}

.empty__cart-link {
    display: block;
    text-align: center;
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px; 
}

.btn-cheackout {
    margin-top: 45px;
    width: 100%;
    height: 53px;
    border-radius: 4px;
    border: 1px solid #000;
    background: #000;
    color:#FFF;
    font-size: 16px;
    font-weight: 700;
}