.cart__item-counter-wrapper {
    align-items: center;
    background: #efefef;
    border-radius: 4px;
    color: #707070;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 53px;
    justify-content: space-around;
    line-height: 27px;
    width: 102px;
}

.info {
    margin-bottom: 100px;
}

.info__availability {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #d82700;
}

.info__notification {
    height: 70px;
}

.info__wrapper {
    margin-top: 60px;
    display: flex;
    column-gap: 65px;
}

.info__imgs-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.info__imgs {
    display: grid;
    grid-template-rows: 120px;
    grid-auto-rows: 120px;
    row-gap: 40px;
}

.info__img {
    object-fit: cover;
    border-radius: 8px;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.info__img-selected {
    box-shadow: 0 0 5px #707070;
}

.info__main-img {
    border-radius: 8px;
    object-fit: cover;
    width: 540px;
    height: 600px;
}

.active__slide-bar {
    position: relative;
    margin-top: 24px;
    display: block;
    width: 540px;
    height: 2px;
    background: #d8d8d8;
}

.active__slide-bar-active {
    position: absolute;
    width: 25%;
    left: 50%;
    height: 2px;
    background: #707070;
    transition: left 0.5s ease;
}

.info__title {
    color: #000;
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
}

.info__price {
    margin-top: 23px;
    color: #a18a68;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.info__review__wrapper {
    margin-top: 70px;
    display: flex;
    column-gap: 25px;
}

.star__wrapper {
    display: flex;
    column-gap: 5px;
}

.info__review-text {
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.info__descr {
    margin-top: 20px;
    width: 484px;
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.info__btns-wrapper {
    margin-top: 50px;
    display: flex;
    column-gap: 23px;
}

.info__btn {
    width: 360px;
    height: 53px;
    border-radius: 4px;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.info__catgrs {
    display: grid;
    margin-top: 35px;
    row-gap: 5px;
}

.info__catgrs-key {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.info__catgrs-value {
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}
