.catalog__item {
    position: relative;
} 

.catalog__item-promo-wrapper{
    display: block;
    width: 380px;
    height: 380px;
}

.catalog__item-shop-wrapper{
    display: block;
    width: 300px;
    height: 300px;
}

.catalog__item-hover {
    position: absolute;
    width: 100%;
    padding-top: 22px;
    height: 65px;
    text-align: center;
    bottom: 0px;
    border-radius: 4px 4px 0px 0px; 
    background: rgba(255, 255, 255, 0.50);
    color: #000;
    font-size: 16px;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.catalog__item-promo-wrapper:hover .catalog__item-hover {
    opacity: 1;
}


.catalog__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.catalog__item-title {
    display: block;
    margin-top: 25px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.catalog__item-price {
    margin-top: 15px;
    color: #A18A68;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px; 
}

