.filterbar {
    margin-bottom: 250px;
}

.filterbar__title {
    color: #000;
    font-size: 33px;
    font-weight: 500;
}

.filterbar__search__wrapper {
    margin-top: 29px;
    display: flex;
    width: 260px;
    border-bottom: #d8d8d8 solid 1px;
}

.filterbar__search__wrapper img {
    display: flex;
    align-items: center;
}

.filterbar__search {
    width: 240px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 5px;
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.filterbar__sorting {
    width: 260px;
    height: 53px;
    margin-top: 40px;
    padding: 15px 12px 15px 12px;
    border: #d8d8d8 solid 1px;
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.rc-slider {
    margin-top: 45px;
    width: 260px;
    height: 2px;
}

.rc-slider-rail {
    border-radius: 0 !important;
    width: 260px;
    height: 2px;
}

.rc-slider-track {
    border-radius: 0 !important;
}

.rc-slider-track {
    background: #000;
    height: 2px;
    border-radius: 0;
}

.rc-slider-handle {
    width: 2px;
    height: 10px;
    border-radius: 0;
    background-color: #000000;
    border: none;
    margin-top: -4px;
}

.rc-slider-handle:focus {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.filterbar__price__wrapper {
    margin-top: 12px;
    width: 260px;
    display: flex;
    justify-content: space-between;
}

.filterbar__price-info {
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.filterbar__price-btn {
    color: #a18a68;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.filterbar__instock {
    margin-top: 39px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterbar__instock-info {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #000;
}
