.item-nav {
    margin-top: 100px;
}

.item-nav__wrapper {
    display: flex;
    column-gap: 95px;
}

.item-nav__link {
    position: relative;
    color: #707070;
    font-weight: 400;
    line-height: 26px; 
}

.item-nav-active {
    color: #000;
}

a.item-nav-active::after {
    content: ""; 
    position: absolute; 
    left: 0;
    bottom: -39px;
    width: 100%; 
    height: 2px; 
    background-color: #000; 
}

.nav__line {
    margin-top: 35px;
    width: 100%;
    height: 1px;
    background: #D8D8D8;
}

.item__descr {
    margin-top: 39px;
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.item__info {
    display: grid;
    row-gap: 5px;
    margin-top: 40px;
}

.reviews {
    margin-top: 40px;
}

.reviews__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 580px);
    column-gap: 88px;
}

.reviews__title {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.review__wrapper {
    display: flex;
    column-gap: 15px;
}

.review__item {
    width: 580px;
}

.review__name {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.review__wrapper:first-child {
    margin-top: 75px;
}

.review__data {
    color:#707070;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.review__rate {
    display: flex;
    column-gap: 10px;
    margin-top: 15px;
}

.review__descr {
    margin-top: 25px;
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.review__line {
    margin-top: 40px;
    width: 100%;
    height: 1px;
    background: #D8D8D8;
}

.add-review__title {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.add-review__mark {
    margin-top: 11px;
    color: #707070;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}

.add-review__form-text {
    margin-top: 45px;
    margin-bottom: 15px;
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.input__wrapper {
    margin-bottom: 35px;
}

.add-review__form-input {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #D8D8D8;
}

.add-review__form-wrapper {
    margin-top: 35px;
    display: flex;
    column-gap: 10px;
}

.add-review__form-mark {
    color:#707070;
    font-size: 12px;
    font-weight: 400;
}

.add-review__form-rating {
    display: flex;
    column-gap: 10px;
}

.add-review__form-submit {
    margin-top: 65px;
    width: 123px;
    height: 53px;
    border-radius: 4px;
    border: 1px solid #FFF;
    background: #000;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}


