.notification {
    margin-top: 1px;
}

.notification__wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: -2px;
    left: 0;
    background: #a18a68;
    transform: scaleX(1);
    transform-origin: left;
    animation: disappear 2s linear forwards;
}

@keyframes disappear {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

.notification__wrapper {
    position: relative;
    padding: 20px 24px 21px 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border: 0px solid #000;
    background: #efefef;
}

.notification__info {
    display: flex;
    column-gap: 16px;
}

.notification__text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.notification__link {
    color: #a18a68;
    font-size: 16px;
    font-weight: 700;
}

.notification__img {
    display: flex;
  align-items: center;
}
