.details-title {
    margin-bottom: 37px;
    text-align: center;

    h1 {
        font-size: 33px;
        font-weight: 500;
        line-height: 43px;
    }
}
.password__change-text {
    margin-top: 50px;
        font-size: 16px;
    font-weight: 700;
    line-height: normal;
}
